<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Reset Your Password</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="close()"></button>
        </div>
        <div *ngIf="errorMessage" class="alert alert-danger m-3 d-flex align-items-center">
            <span class="me-2">{{ errorMessage }}</span>
            <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="errorMessage = null"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="getOTP()" *ngIf="!otpGeneration&&!progress">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" formControlName="email" id="email" placeholder="Email"
                        [ngClass]="{'border-danger': forgotPasswordForm.get('email')?.invalid&&forgotPasswordForm.get('email')?.touched,'border-success':forgotPasswordForm.get('email')?.valid}">
                    <label for="email" class="form-label"
                        [ngClass]="{'text-danger': forgotPasswordForm.get('email')?.invalid&&forgotPasswordForm.get('email')?.touched}">Email</label>
                    <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid"
                        class="error-message danger">
                        <span class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">Email is
                            required</span>
                        <span class="text-danger" *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Invalid
                            Email</span>
                    </div>
                </div>
                <div id="loginButton">
                    <button type="submit" class="btn btn-primary w-100" [disabled]="forgotPasswordForm.invalid">Get
                        OTP</button>
                </div>
            </form>

            <div class="d-flex justify-content-center" *ngIf="progress&&!otpGeneration">
                <div class="spinner-border" role="status" style="width: 7em; height: 7em;">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>

            <div *ngIf="otpGeneration&&!progress">
                <form id="otpForm" class="d-flex flex-column align-items-center" [formGroup]="newpasswordForm" (ngSubmit)="changePassword()">
                    <img src="../../../assets/sent-mail.png" alt="" class="email-sent-img">
                    <p>Please check your Email</p>
                    <small class="mb-2">We have sent code to <span
                            class="text-primary">{{forgotPasswordForm.value.email}}</span></small>
                    <div class="row g-3 justify-content-center mb-3 ps-2 pe-2">
                        <div class="form-floating mb-3 ">
                            <input [type]="passWordField" class="form-control" formControlName="password" id="password"
                                placeholder="password"
                                [ngClass]="{'border-danger':newpasswordForm.get('password')?.invalid && newpasswordForm.get('password')?.touched,'border-success':newpasswordForm.get('password')?.valid}"
                                [(ngModel)]="password">
                            <label for="password" class="form-label"
                                [ngClass]="{'text-danger':newpasswordForm.get('password')?.invalid && newpasswordForm.get('password')?.touched}">Password</label>
                            <span id="icon" (click)="passwordVisibility($event)" class="password-toggle"><i
                                    [class]="passwordIcon"
                                    [ngClass]="{'pb-5':newpasswordForm.get('password')?.invalid&&newpasswordForm.get('password')?.touched&&newpasswordForm.get('password')?.errors?.['pattern'],'pb-4':newpasswordForm.get('password')?.errors?.['required']&&newpasswordForm.get('password')?.touched && newpasswordForm.get('password')?.invalid}"></i></span>
                            <div *ngIf="newpasswordForm.get('password')?.touched && newpasswordForm.get('password')?.invalid"
                                class="error-message danger">
                                <span class="text-danger"
                                    *ngIf="newpasswordForm.get('password')?.errors?.['required']">Password is
                                    required</span>
                                <span class="text-danger"
                                    *ngIf="newpasswordForm.get('password')?.errors?.['minlength']">Password
                                    must be at least 8 characters long </span>
                                <span class="text-danger"
                                    *ngIf="newpasswordForm.get('password')?.errors?.['maxlength']">Password
                                    cannot exceed 16 characters </span>
                                <span class="text-danger"
                                    *ngIf="newpasswordForm.get('password')?.errors?.['pattern']">Password must
                                    include uppercase, lowercase, number, and special character</span>
                            </div>
                        </div>
                        <div class="form-floating mb-3 p-2">
                            <input [type]="confirmpassWordField" class="form-control" formControlName="confirmpassword"
                                id="confirmpassword" placeholder="confirmpassword"
                                [ngClass]="{'border-danger':newpasswordForm.get('confirmpassword')?.touched&&(!isMatching() || newpasswordForm.get('confirmpassword')?.invalid),'border-success':newpasswordForm.get('confirmpassword')?.valid && isMatching()}"
                                [(ngModel)]="confirmpassword">
                            <label for="confirmpassword" class="form-label"
                                [ngClass]="{'text-danger':newpasswordForm.get('confirmpassword')?.touched&&(!isMatching() || newpasswordForm.get('confirmpassword')?.invalid)}">Confirm
                                Password</label>
                            <span id="icon" (click)="confirmpasswordVisibility($event)" class="password-toggle"><i
                                    [class]="confirmpasswordIcon"
                                    [ngClass]="{'pb-4':newpasswordForm.get('confirmpassword')?.touched&&(!isMatching() || newpasswordForm.get('confirmpassword')?.invalid)}"></i></span>
                            <div class="error-message" *ngIf="newpasswordForm.get('confirmpassword')?.touched">
                                <span class="text-danger"
                                    *ngIf="newpasswordForm.get('confirmpassword')?.errors?.['required']&&isMatching()">Confirm
                                    Password is required</span>
                                <span class="text-danger" *ngIf="!isMatching()">Passwords must match</span>
                            </div>
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control otp-input" maxlength="1"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="otp[0]"
                                (input)="handleInput($event, 0)" (keydown)="handleKeyDown($event, 0)" id="otp-input-0"
                                autofocus="true" />
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control otp-input" maxlength="1"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="otp[1]"
                                (input)="handleInput($event, 1)" (keydown)="handleKeyDown($event, 1)"
                                id="otp-input-1" />
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control otp-input" maxlength="1"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="otp[2]"
                                (input)="handleInput($event, 2)" (keydown)="handleKeyDown($event, 2)"
                                id="otp-input-2" />
                        </div>
                        <div class="col-auto">
                            <input type="text" class="form-control otp-input" maxlength="1"
                                [ngModelOptions]="{standalone: true}" [(ngModel)]="otp[3]"
                                (input)="handleInput($event, 3)" (keydown)="handleKeyDown($event, 3)"
                                id="otp-input-3" />
                        </div>
                    </div>
                    <div *ngIf="countdown > 0; else expiredMessage">
                        OTP is valid for {{ minutes }}:{{ seconds < 10 ? '0' : '' }}{{ seconds }} minutes. </div>
                            <ng-template #expiredMessage>
                                <div class="text-danger">
                                    <p>Don't get the code? <a (click)="getOTP()" class="text-primary">click to
                                            resend</a></p>
                                </div>
                            </ng-template>
                            <div class="d-flex align-items-center justify-content-around w-100">
                                <button type="button" class="btn btn-secondary" (click)="backToLogin()">Cancel</button>
                                <button type="submit" class="btn btn-primary"
                                    [disabled]="countdown<=0||otp.join('').length<4||newpasswordForm.invalid||!isMatching()"
                                    >Verify OTP</button>
                            </div>
                </form>
            </div>
        </div>
        <div class="modal-footer d-flex flex-column justify-content-center align-items-center">
            <span>Remembered your password? <a href="" data-bs-toggle="modal" data-bs-target="#loginModal"
                    data-bs-dismiss="modal">Log In</a></span>
            <span>New to LearnHub? <a href="" data-bs-toggle="modal" data-bs-target="#signupModal"
                    data-bs-dismiss="modal">Sign up</a></span>
        </div>
    </div>
</div>