section{
    display: flex;
    justify-content: center;
}
input:read-only {
    background-color: #f0f0f0;
    border: 1px solid #cccccc; 
    cursor: not-allowed;
    box-shadow: none;
}
.dead-line {
    color: red;
    animation: deadline-blink 0.5s infinite alternate;
}

@keyframes deadline-blink {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.1);
    }
}
