  #nav-conatiner {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1001 !important;
    background-color: #2C3E50;
    border-bottom: 0.1rem solid black;
  }

  .navbar-nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-brand {
    font-size: xx-large;
  }

  .nav-link:hover {
    color: white !important;

  }

  .nav-link i {
    font-size: 1.2rem;
  }

  .profile-circle {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
    background-color: rgba(38, 106, 148, 0.295);
    color: rgba(255, 255, 255, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    text-transform: uppercase;
  }

  .profile-circle:hover {
    background-color: rgba(38, 106, 148, 0.788);
    color: rgb(255, 255, 255);
  }

  .dropdown-profile:hover .dropdown-menu-profile {
    display: block;
  }

  .dropdown-users:hover .dropdown-menu-users {
    display: block;
  }

  .dropdown-menu-profile {
    width: 15vw;
    left: 50%;
    transform: translateX(-90%);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .profile-dropdown {
    height: inherit;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .offcanvas-header {
    display: flex;
    align-items: center;
  }


  .dropdown-item {
    padding: 0.75rem 1.25rem;
    color: #333;
    transition: background-color 0.2s ease-in-out;
  }

  .dropdown-item:hover:not(.active){
    background-color: #e9ecef;
  }

  .dropdown-item.active:hover {
    background-color: #316abf;
  }

  .dropdown-divider {
    margin: 0.5rem 0;
  }

  .btn-close {
    outline: none;
  }

  #dropdownMenuButton {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .profile-circle {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    object-fit: cover;
  }

  .offcanvas-start {
    width: 60vw;

  }

  #offcanvasForSmallDevises {
    display: none;
  }

  #large-nav-bar {
    display: block;
  }

  @media only screen and (max-width: 600px) {
    #offcanvasForSmallDevises {
      display: block;
    }

    #large-nav-bar {
      display: none;
    }
  }