input{
    height: 7vh;
}
input:read-only {
    background-color: #f0f0f0;
    border: 1px solid #cccccc; 
    cursor: not-allowed;
    box-shadow: none;
}

.circular-frame {
    width: 30vw; 
    height: 30vw; 
    max-width: 300px; 
    max-height: 300px; 
    overflow: hidden; 
    border-radius: 50%;
    border: 5px solid #ccc; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.circular-frame img {
    width: 100%;
    height: auto; 
    object-fit: cover; 
}
.muliple-btn-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.single-btn-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

